{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SignUp- Blood Bank Management</title>
    <link rel="stylesheet" href="/build/tailwind.css" type="text/css" media="screen" title="no title" charset="utf-8" />
</head>

<body>
    <div class="w-full h-full bg-white">
        {% comment %} <div class="w-full flex justify-center py-4"></div> {% endcomment %}

        <div class="h-full flex flex-col justify-center items-center">

            <img class="w-24 mb-12" src="/static/assets/img/logo.png">

            <div class="form-wrapper w-1/4 rounded-md">
                <div class="flex">
                    <a id="register" class="rounded-tl-md bg-gray-200 w-1/2 active text-center p-4 font-bold" href="#"> Register</a>
                    <a id="register_as_donor" class="rounded-tr-md bg-gray-200 w-1/2 text-center p-4 font-bold" href="#"> Register as Donor</a>
                </div>
                <div id="register-content" class="register p-8">
                    <div class="">
                        <form method="POST" enctype="multipart/form-data">
                                        
                            {% csrf_token %}
                            
                            <div class="mb-4">
                                <label class="text-xs font-bold text-gray-700">Name</label>
                                {{form.user_name}}
                                {{form.user_name.errors}}
                            </div>

                            <div class="mb-4">
                                <label class="text-xs font-bold text-gray-700">Email</label>
                                {{form.email}}
                                {{form.email.errors}}
                            </div>

                            <div class="mb-4">
                                <label class="text-xs font-bold text-gray-700">Password</label>
                                {{form.password}}
                                {{form.password.errors}}
                            </div>

                            <div class="mt-10">
                                <button type="submit" class="bg-red-500 ease-in-out duration-300 text-gray-100 p-4 w-full rounded-md font-bold"> Create Account </button>
                            </div>

                            <div
                                class="mt-10 text-sm ease-in-out duration-300 font-display font-semibold text-gray-700 text-center">
                                Already have an account ? <a class="cursor-pointer text-red-600 hover:text-red-800" href="{% url 'log__in' %}">Log in</a>
					        </div>

                        </form>
                    </div>
                </div>
            

            <div id="register-as-donor-content" class="invisible p-8">
                <div class="">
                    <form method="POST" enctype="multipart/form-data">
                                    
                        {% csrf_token %}

                        <div class="hidden"> {{form.is_donor}} </div>
                        
                        <div class="mb-4">
                            <label class="text-xs font-bold text-gray-700">Name</label>
                            {{form.user_name}}
                            {{form.user_name.errors}}
                        </div>

                        <div class="mb-4">
                            <label class="text-xs font-bold text-gray-700">Email</label>
                            {{form.email}}
                            {{form.email.errors}}
                        </div>

                        <div class="mb-4">
                            <label class="text-xs font-bold text-gray-700">Password</label>
                            {{form.password}}
                            {{form.password.errors}}
                        </div>

                        
                        <div class="block">
                                                  
                            <div class="mb-4">
                                <label class="text-xs font-bold text-gray-700">City</label>  
                                {{form.city}}
                                {{form.city.errors}}
                            </div class="mb-4">
                                
                            <div class="mb-4">
                                <label class="text-xs font-bold text-gray-700">Mobile No +880</label>  
                                {{form.mobile_no}}
                                {{form.mobile_no.errors}}
                                <p id="mobile_error" class="mt-2 text-red-700 text-xs font-bold">Please Enter Valid Number</p>
                            </div>

                            <div class="flex mb-4">
                                <div>
                                    <label class="text-xs font-bold text-gray-700 mb-1">Blood Group</label>  
                                    {{form.blood_group}}
                                    {{form.blood_group.errors}}
                                </div>

                                <div class="ml-12">
                                    <label class="text-xs font-bold text-gray-700 mb-1">Gender</label>  
                                    {{form.gender}}
                                    {{form.gender.errors}}
                                </div>                        
                            </div>

                            <div class="flex">
                                <div class="">
                                    <label class="block text-xs font-bold text-gray-700">Date of Birth</label>  
                                        {{form.date_of_birth}}
                                        {{form.date_of_birth.errors}}
                                </div>

                                <div class="relative left-16">
                                    <label class="text-xs block font-bold text-gray-700 mb-2">NID Image</label>  
                                    {{form.nid_image}}
                                    {{form.nid_image.errors}}
                                </div>                      
                            </div>                                                                           
                        </div>

                        <div class="mt-10">
                            <button type="submit" class="bg-red-500 ease-in-out duration-300 text-gray-100 p-4 w-full rounded-md font-bold"> Create Account </button>
                        </div>

                        <div
                            class="mt-10 text-sm ease-in-out duration-300 font-display font-semibold text-gray-700 text-center">
                            Already have an account ? <a class="cursor-pointer text-red-600 hover:text-red-800" href="{% url 'log__in' %}">Log in</a>
					    </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    
    <script type="text/javascript">
        let mobile_error = document.getElementById('mobile_error')
        let mobile_no_value = document.getElementById('id_mobile_no').value;


        validate_mobile_no = function(){
            let mobile_no_pattern = /^[0-9]{10}$/
            if(mobile_no_pattern.test(mobile_no_value)){
                mobile_error.classList.remove('hidden')
            }
            else
            {
                mobile_error.classList.add('hidden')
            }
        }


      let register = document.getElementById('register')
      let register_as_donor = document.getElementById('register_as_donor')
      let register_content = document.getElementById('register-content')
      let register_as_donor_content = document.getElementById('register-as-donor-content')

      register.addEventListener('click', function(){
        register.classList.add('active');
        register_as_donor.classList.remove('active');
        register_content.classList.remove('invisible');
        register_as_donor_content.classList.add('invisible');
      });

      register_as_donor.addEventListener('click', function(){
        register_as_donor.classList.add('active');
        register.classList.remove('active');
        register_content.classList.add('invisible');
        register_as_donor_content.classList.remove('invisible');
      });
    
    </script>    



  </body>
</html>
